<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>The Fact Site</h1>
    <p>Welcome to The Fact Site</p>

    <h2>Posts</h2>
    <%- include('../partials/posts',{posts:posts}); %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
